body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e1e1e1;
  display: grid;
  justify-items: center;
  gap: 60px;
  margin-top: 60px;
}

.bike {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

nav {

  ul{
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  list-style: none;
  }

  a {
    background: #fff;
    padding: 1rem 1.9rem;
    border-radius: 2.5rem;
    color:#000;
    text-transform: uppercase;
    display: block;
    font-size: 1rem;
  }
  
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introduction {
  background: #fff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;

  .shop {
    background: #e21;
    color: #fff;
    padding: 1rem 1.9rem;
    border-radius: 4px;
    text-transform: uppercase;
  }

  .detail {
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 1.9rem;
  right: -1.9rem;
}
}



.subtitle {
  font-size:  3.35rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
}

.advantages {
  background: #fff;
  padding: 2.5rem;
}

.advantages-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px 1.25rem;
  padding: 1.25rem;

  p {
    grid-column: 2;
  }
}

footer {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}
