body
{
  font-family: Arial, Helvetica, sans-serif;
  background: #E1E1E1;
  display: grid;
  justify-items: center;
  gap: 60px;
  margin-top: 60px;
}

.bike
{
  max-width: 100%;
  display: block;
}

a
{
  text-decoration: none;
}

p, h1, h2, h3
{
  margin: 0;
}
p
{
  font-size: 20px;
  line-height: 1.3;
}

.menu
{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.menu a 
{
  background: #fff;
  padding: 15px 30px;
  border-radius: 40px;
  color: #000;
  text-transform: uppercase;
}

.content
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introduction
{
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;

}

.shop
{
  background: #e21;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;

}

.detail
{
 width: 60px;
 height: 4px;
 background: #e21;
 position: absolute;
 top: 30px;
 right: -30px;

}

.subtitle
{
  font-size: 54px;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.2);

  text-align:  right;
  padding: 40px;
  align-self: center;
} 

.advantages
{
  background: #fff;
  padding: 40px;
}

.advantages-item
{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px 20px;
  padding: 20px;
}

.advantages-item p 
{
  grid-column: 2;
}

footer
{
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}