body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e1e1e1;
  display: grid;
  justify-items: center;
  gap: 3.75rem;
  margin-top: 3.75rem;
}

a {
  text-decoration: none;
}

p,h1,h2,h3 {
  margin: 0; 
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

header{
  display: grid;
  justify-items: center;
}

nav {

  ul{
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  gap: 1.25rem;
  list-style: none;
  }

  a {
    background: #fff;
    padding: 1rem 1.9rem;
    border-radius: 2.5rem;
    color:#000;
    text-transform: uppercase;
    display: block;
    font-size: 1rem;
    border: transparent solid 2px;
  }

  a:hover{
    font-weight: 900;
    transition: 0.5s;
    border: #e21 solid 2px;
  }
  
}
.container-introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.introduction {
  background: #fff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;

  .shop {
    background: #e21;
    color: #fff;
    padding: 1rem 1.9rem;
    border-radius: 4px;
    text-transform: uppercase;
  }
}

.introduction::before{
  content: "";
  width: 3.75rem;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 1.25rem;
  right: -1.95rem;
}


.subtitle {
  font-size:  3.35rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;

  background-image: url("./img/onda.svg");

}

.bike {
  max-width: 100%;
  display: block;
}

.advantages {
  background: #fff;
  padding: 2.5rem;
}

.advantages-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px 1.25rem;
  padding: 1.25rem;

  p {
    grid-column: 2;
  }
}

.advantages > .advantages-item:nth-child(odd){
  background-color: rgba(0, 0, 0, 0.12);
}

.advantages-item:hover{
  border-left: #e21 solid 3px;
}

footer {
  background: #fff;
  width: 100vw;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}
